<html>
    <head>

    </head>
    <body>
            <div class="basic">
                    {% include "header.html" %}    
                    </div>
        <div class="main">
			
			<main class="content">
				<div class="container-fluid">

					
					<div class="row">
						<div class="col-12 col-xl-6">
						<center>
							<div class="card">
								
								<div class="card-body">
									<form>
										<div class="form-group">
											<label class="form-label">Email address</label>
											<input type="email" name="txtEmail" class="form-control" placeholder="Email">
										</div>
										<div class="form-group">
											<label class="form-label">Password</label>
											<input type="password" name="txtPassword" class="form-control" placeholder="Password">
										</div>
										
										<div class="form-group">
											<label class="form-label">Textarea</label>
											<textarea name="txtarea" class="form-control" placeholder="Textarea" rows="1"></textarea>
										</div>
										<div class="form-group">
											<label class="form-label w-100">File input</label>
											<input type="file" name="txtFile">
										
										</div>
										<div class="form-group">
											<label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-label">Check me out</span>
            </label>
										</div>
										<button type="submit" class="btn btn-primary">Submit</button>
									</form>
								</div>
							</div>
							</center>
						</div>
						

				</div>
			</main>
			
		</div>
	
    </body>
</html>